{% extends "base.html.twig" %}

{% block title %}
	Accueil
{% endblock %}
{% block body %}
	<h1>Add
	</h1>
	<div class="row">

		<div class="col">
			<div class="card"><img src="" class="img-fluid" alt=""></div>
			<div class="card-body">

				<span class="badge bg-primary"></span>

				<p class="card-text"></p>
				<a href="#" class="btn btn-primary btn-sm">Détails</a>
				<a href="#" class="btn btn-success btn-sm">Ajouter</a>
			</div>
		</div>

	</div>
	<hr>
	<h2>Lorem ipsum dolor sit,</h2>
	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita, voluptatem!</p>

	{# <div class="row">
						{% include "shared/file.html.twig" with {
				            'color': 'primary',
				            'icone': 'fas fa-truck',
				            'text': "Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
				            Quae fuga sint consequatur, illum facilis blanditiis?"
				
				        }%}
						{% include "shared/file.html.twig" with {
				            'color': 'success',
				            'icone': 'fas fa-check',
				            'text': "Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
				            Quae fuga sint consequatur, illum facilis blanditiis?"
				
				        }%}
						{% include "shared/file.html.twig" with {
				            'color': 'warning',
				            'icone': 'fas fa-lock',
				            'text': "Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
				            Quae fuga sint consequatur, illum facilis blanditiis?"
				
				        }%}
					</div> #}

{% endblock %}
